<nav class="navbar">
   <a class="navbar-brand">Topic Name</a>
</nav>

<form class="form-inline form">
   <input type="text" class="form__field" placeholder="SEARCH......" />
   <button type="button" class="btn btn--primary btn--inside uppercase">Search</button>
</form>

<div class="add-q">
   <span class="material-icons">insights</span>
   <h3>NEW QUESTION</h3>
</div>


<div class="item-list">
   <div class="question-list custom-scrollbar-js">

      <div class="ques-card">
         <h4><b>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, modi?</b> </h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quae est vitae quod nam cum ea consequatur vel voluptates beatae.</p>
      </div>
      <div class="ques-card">
         <h4><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, modi?</b> </h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. vel voluptates beatae.</p>
      </div>
      <div class="ques-card">
         <h4><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, modi?</b> </h4>
         <p>Rerum quae est vitae quod nam cum ea consequatur vel voluptates beatae.</p>
      </div>
      <div class="ques-card">
         <h4><b>Lorem ipsum dolor sit amet consectetur?</b> </h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quae est vitae quod nam cum ea consequatur vel voluptates beatae.</p>
      </div>
      <div class="ques-card">
         <h4><b>Lorem ipsum dolor sit amet consectetur uibusdam, modi?</b> </h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quae est vitae quod nam cum ea consequatur vel voluptates beatae.</p>
      </div>
      <div class="ques-card">
         <h4><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, modi?</b> </h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quae est vitae quod nam cum </p>
      </div>
   
   </div>
   
   
   <div class="mentor-list custom-scrollbar-js">

      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
      <div class="Prof-card">

      </div>
   
   </div>
</div>