<nav class="navbar">
   <a class="navbar-brand">NEW QUESTION</a>
   <span mat-dialog-close class="material-icons Closer">
      close
   </span>
</nav>

<div class="container">
   <div class="spacer"></div>
   <form class="form">
      <mat-form-field class="Regular-in-field">
         <mat-label>QUESTION</mat-label>
         <input matInput placeholder="What do you want to know?">
      </mat-form-field>

      <mat-form-field class="Regular-large-field">
         <mat-label>DESCRIPTION</mat-label>
         <textarea matInput placeholder="Details about your question" rows="7"></textarea>
      </mat-form-field>

      <div class="tagger">

         <mat-form-field class="Regular-in-field">
            <mat-label>TAGS</mat-label>
            <input matInput placeholder="i.e. BCS">
         </mat-form-field>

         <button mat-button color="primary">ADD THIS TAG</button>

      </div>
   
      <mat-form-field class="Regular-in-field">
         <mat-label>RELATED LINKS</mat-label>
         <input matInput placeholder="i.e. Google.com">
      </mat-form-field>

      <button mat-flat-button color="primary">Primary</button>
   
   </form>
   <div class="spacer"></div>
</div>