.container{
   padding: 0;
   padding-left: 1em;
   margin: 0;

   .intro-row{
      display: flex;

      img{
         width: 120px;
      }

      .name-id{
         padding-left: 2em;
         flex: 1;
         font-family: Arial, Helvetica, sans-serif;
         padding-top: 1em;

         h1{
            color: rgb(49, 49, 49);
         }
         
         h3{
            color: rgb(83, 83, 83);
            margin-bottom: 0;
         }
         
         h4{
            color: rgb(83, 83, 83);
            margin-bottom: 0;
         }

      }
   }

   .prfsion{
      height: 3em;
      
      .tags{
         float: right;
         display: inline-block;
         background-color: rgb(83, 83, 83);
         color: white;
         padding: 3px 1em 3px 1em;
         margin: 0 .5em 0 .5em;
         border-radius: 5px;
      }

   }

   .descrip{
      p{
         font-size: 16px;
      }
   }

   .cont{
      h3{
         color: rgb(83, 83, 83);
         margin-bottom: 0;
      }
         
      h4{
         color: rgb(83, 83, 83);
         margin-bottom: 0;
      }
   }
}