<div class="page-titile">
  <h2>E + Y o u t h .</h2>
</div>
<div class="bubble-parent">
  <div class="Profile loc-2" (click)="onClick()" style="width: 250px; height: 250px;">
    <img src="../assets/12.jpg">
  </div>
  
  <div class="Profile loc-1" (click)="onClick()" style="width: 200px; height: 200px;">
    <img src="../assets/4.jpg">
  </div>
  
  <div class="Profile loc-3" (click)="onClick()" style="width: 170px; height: 170px;">
    <img src="../assets/1.jpg">
  </div>
  
  <div class="Profile loc-4" (click)="onClick()" style="width: 290px; height: 290px;">
    <img src="../assets/6.jpg">
  </div>
  
  <div class="Profile loc-5" (click)="onClick()" style="width: 265px; height: 265px;">
    <img src="../assets/5.jpg">
  </div>
  
  <div class="Profile loc-6" (click)="onClick()" style="width: 300px; height: 300px;">
    <img src="../assets/3.jpg">
  </div>
  
  <div class="Profile loc-7" (click)="onClick()" style="width: 140px; height: 140px;">
    <img src="../assets/8.jpg">
  </div>
  
  <div class="Profile loc-8" (click)="onClick()" style="width: 255px; height: 255px;">
    <img src="../assets/11.jpg">
  </div>
  
  <div class="Profile loc-9" (click)="onClick()" style="width: 155px; height: 155px;">
    <img src="../assets/9.jpeg">
  </div>
  
  <div class="Profile loc-10" (click)="onClick()" style="width: 240px; height: 240px;">
    <img src="../assets/10.jpg">
  </div>
  
  <div class="Profile loc-11" (click)="onClick()" style="width: 240px; height: 240px;">
    <img src="../assets/7.jpg">
  </div>
</div>
