/* You can add global styles to this file, and also import other style files */
*{
   margin: 0;
   padding: 0;
}

body{
   background-color: #333;
   background: url(../Resources/Background.png) no-repeat;
   background-size: 100% auto;
   // width: 100%;
   // height: 100vh;
}